<h1><%= @user.name %>'s Profile</h1>

<h2><%= @user.name %> is Following:</h2>
	<% for follow in @user.follows %>
	<li>
		<%= follow.following.name %> (<%= link_to "remove", follow_path(:follow_id => follow, :user_id => @user), :method =>:delete %>)
	</li>
	<% end %>

<h2><%= @user.name %> is NOT Following:</h2>

	<% @users.each do |otheruser| %>

	<% if not @user.follows.find_by(following_id: otheruser) %>
	<li>

		<%= otheruser.name %> (<%= link_to "follow", follows_path(:follow_id => otheruser, :user_id => @user), :method => :post %>)
	</li>
	<% end %>
	<% end %>

<h2>People Following <%= @user.name %>:</h2>
	<% for follower in @user.inverse_following %>
	<li>
		<%= follower.name %>

	<% if not @user.follows.find_by(following_id: follower) %>

		 (<%= link_to "follow", follows_path(:follow_id => follower, :user_id => @user), :method => :post %>)

	<% end %>

	</li>
	<% end %>


<hr>
<!-- <h3>All Users</h3>
<ul>
	<% @users.each do |otheruser| %>
	<li>
		Follow <%= link_to otheruser.name, follows_path(:follow_id => otheruser, :user_id => @user), :method => :post %>
	</li>
	<% end %>
</ul>
 -->
<p><%= link_to("Home", root_url) %></p>